<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            <tr>
                <td>Name</td>
                <td><input type="text" name="txt_name"></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="email" name="txt_email"></td>
            </tr>
            <tr>
                <td>Contact</td>
                <td><input type="text" name="txt_contact"></td>
            </tr>
            <tr>
                <td>Address</td>
                <td><textarea name="txt_address" id="" cols="20" rows="5"></textarea></td>
            </tr>
            <tr>
                <td>Date Of Birth</td>
                <td><input type="date" name="txt_dob"></td>
            </tr>
            <tr>
                <td>Photo</td>
                <td><input type="file" name="txt_photo"></td>
            </tr>
            <tr>
                <td>Proof</td>
                <td><input type="file" name="txt_proof"></td>
            </tr>
            <tr>
                <td>Gender</td>
                <td><input type="radio" name="txt_gender" value="Male">Male
                <input type="radio" name="txt_gender" value="Female">Female</td>
            </tr>
            <tr>
                <td>Designation</td>
                <td>
                    <select name="sel_designation" id="sel_designation">
                        <option value="">Select...</option>
                        {% for i in designation %}
                        <option value="{{i.id}}">{{i.designation_name}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>Department</td>
                <td>
                    <select name="sel_department" id="sel_department">
                        <option value="">Select...</option>
                        {% for i in department %}
                        <option value="{{i.id}}">{{i.department_name}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>State</td>
                <td>
                    <select name="sel_state" id="sel_state">
                        <option value="">Select...</option>
                        {% for i in state %}
                        <option value="{{i.id}}">{{i.state_name}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>District</td>
                <td>
                    <select name="sel_district" id="sel_district">
                        <option value="">Select...</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Place</td>
                <td>
                    <select name="sel_place" id="sel_place">
                        <option value="">Select...</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" name="txt_password"></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" value="Register"></td>
            </tr>
        </table>
    </form>
    {% if msg %}
    <script>
        alert("{{msg}}");
        window.location="{% url 'Guest:officer' %}";
    </script>
    {% endif %}
</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $("#sel_state").change(function () {
        var sid = $(this).val();
        var ur = "{% url 'Admin:ajaxdistrict' %}"
        $.ajax({
            url: ur,
            data: { did: sid, },
            success: function (data) {
                $("#sel_district").html(data);
            },
        });
    });

    $("#sel_district").change(function () {
        var did = $(this).val();
        var ur = "{% url 'Guest:ajaxplace' %}"
        $.ajax({
            url: ur,
            data: { did: did, },
            success: function (data) {
                $("#sel_place").html(data);
            },
        });
    });
</script>