<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>Work Type</td>
                <td><input type="text" name="txt_name" id="" value="{{editworktype.worktype_name}}"></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" value="Add"></td>
            </tr>
        </table>
    </form>
    {% if msg %}
    <script>
        alert("{{ msg }}");
        window.location="{% url 'Admin:worktype' %}";
    </script>
    {% endif %}
    <table>
        <tr>
            <td>#</td>
            <td>Work Type</td>
            <td>Action</td>
        </tr>
        {% for i in worktype %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.worktype_name}}</td>
            <td>
                <a href="{% url 'Admin:deleteworktype' i.id %}">Delete</a>
                <a href="{% url 'Admin:editworktype' i.id %}">Edit</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>